mixin footer(footer)
    footer.footer
        .container
            span.text-white Copyright 2020

    script(src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js")
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
    script(src="/js/all.js")
    script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js", integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/6.3.1/d3.js')
    script(src='/js/firebase.js')
    script(src='/js/auth.js')