mixin navbar(logged, admin)
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top.shadow
        .container
            a.navbar-brand(href="#") FinAI
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto(class=""+nav)
                    li.nav-item.home
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item.about
                        a.nav-link(href='/about') About
                    if admin
                        li.nav-item.admin
                            a.nav-link(href='/admin') Admin
                    if logged
                        li.nav-item.dropdown.profile
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Profile
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='/dashboard') Dashboard
                                .dropdown-divider
                                a.dropdown-item(href='/profile') Details
                                a.dropdown-item(href='#') Settings
                                .dropdown-divider
                                a#logout.dropdown-item(href='/signout') Log out
                    else
                        li.nav-item.login
                            a.nav-link(href='/login') Login
                        li.nav-item.signup
                            a.nav-link(href='/register') Sign up
                    li.nav-item.contact
                        a.nav-link(href='/contact') Contact
