extends layout
block content
    .container.mt-5
        h3 Here at FinAI, we are dedicated to providing you with accurate and fast loan predictions and handling.
        hr
        p With our app, our state of the art machine learning models can quickly tell you exactly how likely you are to be approved for a loan.
        p On the website, we provide brokers the tools required to manage loan applications from their clients.