extends layout
block content
    .container
        .card.mt-5
            .card-header
                ul#admin.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                        a.nav-link.active(href="#finst" role="tab") F.Institutes             
            .card-body
                .tab-content
                    #finst.tab-pane.active(role='tabpanel')
                        .col-12.text-center
                            h3 Financial Institutions
                        .col-12.mt-3
                            .row
                                table.table
                                    thead
                                        tr
                                            th(scope="col") Name
                                            th(scope="col") Number
                                            th(scope="col") Address
                                            th(scope="col") Edit
                                            th(scope="col") Delete
                                    tbody
                                        each val in institutes
                                            tr(id=val.uuid)
                                                td#name #{val.name}
                                                td#number #{val.number}
                                                td#address #{val.address}
                                                td#edit
                                                    button.btn.btn-success.btn-sm(type="button" data-toggle="modal" data-target="#editInstituteModal") #[i.fa.fa-edit]
                                                td#delete
                                                    button.btn.btn-danger.btn-sm(type="button" data-toggle="modal" data-target="#deleteInstituteConfirmation") #[i.fa.fa-times]
  
                            .mt-2
                                .float-right
                                    button.btn.btn-success(type="button" data-toggle="modal" data-target="#createInstituteModal") Add
                    #stats.tab-pane(role='tabpanel')
                        div.my-auto#pie_chart

    .modal.fade#createInstituteModal(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Create new Financial Institute
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form#instituteCreateForm
                        .form-group
                            label(for="nameInput") Institute Name
                            input.form-control#nameInput(type="text" name='name' required='required' placeholder='Enter name')
                        .form-group
                            label(for="numberInput") Institute Phone number
                            input.form-control#numberInput(type='tel' name='number' placeholder='123-1234567' required='required' pattern="[0-9]{3}-[0-9]{7}")
                        .form-group
                            label(for="addressInput") Institute Address 
                            input.form-control#addressInput(type="text" name='address' required='required' placeholder='Enter address')


                .modal-footer
                    button.btn.btn-success#submitButton(type="submit" form="instituteCreateForm") Add
    .modal.fade#editInstituteModal(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Edit Financial Institute
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form#instituteEditForm
                        .form-group
                            label(for="nameInput") Institute Name
                            input.form-control#nameInput(type="text" name="name" required='required' placeholder='Enter name')
                        .form-group
                            label(for="numberInput") Institute Phone number
                            input.form-control#numberInput(type='tel' name='number' placeholder='123-1234567' required='required' pattern="[0-9]{3}-[0-9]{7}")
                        .form-group
                            label(for="addressInput") Institute Address 
                            input.form-control#addressInput(type="text" name="address" required='required' placeholder='Enter address')
                        input(type="hidden" id="idInput" name="uuid")
                .modal-footer
                    button.btn.btn-success#submitButton(type="submit" form="instituteEditForm") Save
    .modal.fade#deleteInstituteConfirmation(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Are you sure?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    h3#name Delete AIB?
                .modal-footer
                    button.btn.btn-danger(onClick="doDelete()") Delete

block scripts
    script(src="/js/admin.js")