button.btn.btn-danger.btn-s#backButton(type="button") #[i.fa.fa-arrow-left]
.container
    .row
        .mt-3.col-4.border(style="align-self:end")
            .card-body
                .d-flex.flex-column.align-items-center.text-center
                    ul.list-unstyled
                        h5.card-title #{client.name}
                        li.text-center
                            img.rounded-circle.border(src="/images/profile.jpg" width='150')
                        li.text-center.mt-2
                        p.card-text #[i.fas.fa-envelope] #{client.email}
                        p.card-text #[i.fas.fa-mobile] #{client.tel}
        .mt-3.col-8.border
            .card-body
                h2 Loans
                table.table
                        thead
                            tr
                                th(scope="col") ID
                                th(scope="col") Amount
                                th(scope="col") Period
                        tbody
                            each val in loans
                                tr(id=val.loan_id)
                                    td#id #{val.loan_id}
                                    td#id €#{val.loan_amount}
                                    td#id #{val.loan_period} months