extends layout
block content
    .container.text-center.mt-5
        h1 Contact
        h5 For any enquiries, please contact the site administrator at
        hr
        p #[i.fas.fa-envelope] lewis.savage@mycit.ie
        p #[i.fas.fa-mobile] 087-4626272