extends layout
block content
    .wrapper
        nav#sidebar
            .sidebar-header
                h3 Broker Dashboard
            ul.list-unstyled.components.nav(role="tablist")
                li.nav-item.active
                    a.nav-link.active(href="#clients" role="tab") Clients
                li.nav-item
                    a.nav-link(href='#applications' role="tab") Loan Applications

        #content
            .tab-content
                #clients.tab-pane.active(role='tabpanel')
                    if(clients.length)
                        h4 Clients
                        .card-columns#clientCards
                            each client in clients
                                .card.text-center
                                    .card-body(id=client.uuid)
                                        h5.card-title #{client.name}
                                        p.card-text #[i.fas.fa-envelope] #{client.email}
                                        p.card-text #[i.fas.fa-mobile] #{client.tel}
                                        button.btn.btn-success.viewClient View
                    else
                        h4 Looks like you have no clients, check in on your loan applications to start working with some!
                    .collapse#clientPanel
                        
                #applications.tab-pane(role='tabpanel')
                    div.text-center
                        h4 Loan applications
                    .row.mt-3
                        table.table
                            thead
                                tr
                                    th(scope="col") ID
                                    th(scope="col") Amount
                                    th(scope="col") Period
                                    th(scope="col") Accept
                                    th(scope="col") Reject
                            tbody
                                each val in applications
                                    tr(id=val.loan_id)
                                        td #{val.loan_id}
                                        td €#{val.loan_amount}
                                        td #{val.loan_period} months
                                        td
                                            button.btn.btn-success.btn-sm.approveButton #[i.fa.fa-check]
                                        td
                                            button.btn.btn-danger.btn-sm.rejectButton #[i.fa.fa-times]
block scripts
    script(src="js/dashboard.js")