extends layout
block content
    .container.mt-3
        form(method="POST" action="/api/model")
            .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password' placeholder='Password')
            .form-group
                label(for='exampleFormControlSelect1') Gender
                select#exampleFormControlSelect1.form-control
                    option Male
                    option Female
            .form-group
                label(for='exampleFormControlSelect2') Dependents
                select#exampleFormControlSelect2.form-control
                    option 0
                    option 1
                    option 2
                    option 3+
            .form-check
                input#defaultCheck1.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck1')
                    | Married?
            .form-check
                input#defaultCheck2.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck2')
                    | Graduated?
            input(type="submit")

                

