extends layout
block content
    .container.mt-5
        .row.justify-content-md-center
            .col-lg-5
                form#signupForm.text-center(action='/finishProfileInit' method='post')
                    h2 Initialize profile
                    p It looks like your profile is new, please enter the rest of your details below
                    hr
                    .form-group
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text #[i.fa.fa-user]
                            input#email.form-control(type='text' name='name' placeholder='Full name' aria-label='Full name' required='required')
                    .form-group
                        .input-group
                            .input-group-prepend
                                span#basic-addon1.input-group-text #[i.fa.fa-phone]
                            input#pass1.form-control(type='tel' name='tel' placeholder='123-1234567' required='required' pattern="[0-9]{3}-[0-9]{7}")
                    .form-group
                        button.btn.btn-primary(type='submit') Submit

