extends layout
block content
    .container.mt-5
        .row.justify-content-md-center
            .col-lg-5
                form#loginForm.text-center(action='/' method='post')
                    h2 Log in
                    hr
                    .form-group
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text #[i.fa.fa-paper-plane]
                            input#email.form-control(type='text' name='email' placeholder='Email' aria-label='Email' aria-describedby='basic-addon1' required='required')
                    .form-group
                        .input-group
                            .input-group-prepend
                                span#basic-addon1.input-group-text #[i.fa.fa-lock]
                            input#pass1.form-control(type='password' name='password' placeholder='Password' required='required')
                    .form-group
                        button.btn.btn-primary(type='submit') Log in
                .text-center
                    button.my-auto.btn.btn-primary#googlesignin Sign in with google

    script(src="/js/login.js")