extends layout
block content
    .container
        .row
            .col-lg-12.text-center
                h1.mt-5 Profile
        .row.gutters-sm.mt-5
            .col-md-4.mb-3
                .card
                    .card-body
                        .d-flex.flex-column.align-items-center.text-center
                            ul.list-unstyled
                                li.text-center
                                    img.rounded-circle.border(src="/images/profile.jpg" width='150')
                                li.text-center.mt-2
                                h3 #{name}
                                span #{number}
            .col-md-8
                .card.mb-3
                    .card-body
                        .row
                            .col-sm-3
                                h6.mb-0 Full Name
                            .col-sm-9.text-secondary #[i.fas.fa-user] #{name}
                        hr
                        .row
                            .col-sm-3
                                h6.mb-0 Email
                            .col-sm-9.text-secondary #[i.fas.fa-envelope] #{email}
                        hr
                        .row
                            .col-sm-3
                                h6.mb-0 Phone
                            .col-sm-9.text-secondary #[i.fas.fa-mobile] #{number}