extends layout
block content
    .container.mt-5
        .row.justify-content-md-center
            .col-lg-5
                form#signupForm.text-center(action='/' method='post')
                    h2 Sign Up
                    p Please fill in this form to create an account!
                    hr
                    .form-group
                        .input-group.mb-3
                            .input-group-prepend
                                span#basic-addon1.input-group-text #[i.fa.fa-paper-plane]
                            input#email.form-control(type='text' name='email' placeholder='Email' aria-label='Email' aria-describedby='basic-addon1' required='required')
                            .invalid-feedback Email already taken
                    .form-group
                        .input-group
                            .input-group-prepend
                                span#basic-addon1.input-group-text #[i.fa.fa-lock]
                            input#pass1.form-control(type='password' name='password' placeholder='Password' required='required')
                    .form-group
                        .input-group
                            .input-group-prepend
                                span#basic-addon1.input-group-text 
                                    i.fa.fa-lock
                            input#pass2.form-control(type='password' name='confirm_password' placeholder='Confirm Password' required='required')
                    .form-group
                        label.checkbox-inline
                            input(type='checkbox' required='required')
                            |  I accept the 
                            a(href='#') Terms of Use
                            |  & 
                            a(href='#') Privacy Policy
                    .form-group
                        button.btn.btn-primary(type='submit') Sign Up

    script(src="/js/signup.js")